<h2> Welcome to the Cafeteria </h2>

<p>If you are new user <button><%= link_to "sign up here", new_user_path%></button></p>
<p>If you are an existing user <button><%= link_to "sign in here", new_usersession_path %></button></p>
